body {
    background-color: #EDEDED;
}
.about {
    font-size: 1.5rem;
}

.heroesContainer{
    width: 100%;
    background-color: #EDEDED;

}

.title {
    font-size: 3.2rem;
}

.cut {
    margin: 0px;
}

.titleAndabout{
    align-self: center;
    padding-left: 50px;
    padding-right: 0px;
}
